* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    justify-content: center;
    align-items: center;
    display: flex;
    background-color:#5683ca;
}
.card {
    height: 450px;
    width: 400px;
    background-color: #f5f8fa;
    border-radius: 15px;
    padding: 28px;
    text-align: center;
    box-shadow: 1px 2px 22px 20px blue;

}

img {
    width: 52%;
    height: 45%;
    object-fit: cover;
    /* object-position: center; */
    border-radius: 100px;
}

.card h1 {
    font-size: 30px;
    margin: 10px 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: darkblue;
}

.card h5 {
    font-size: 25px;
    color: red;
    margin: 20px;
}

.card button {
    background-color: rgb(1 152 255);
    color: #EEEEEE;   
    font-weight: 900;
    font-size: 18px;
    padding: 15px 120px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.card #close {
    background-color: #0eeb3e;
    color: #EEEEEE;
    font-weight: 900;
    font-size: 18px;
    border-radius: 20px;
    border: none;
    margin: 14px 19px;
    padding: 15px 106px;
    cursor: pointer;
}